<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ManualPaperBoy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ManualPaperBoy.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextSaveFilePath" serializeAs="String">
                <value>C:\Users\fred\Documents\magazines\Direct_Matin</value>
            </setting>
            <setting name="LanguageFileName" serializeAs="String">
                <value>Translations.xml</value>
            </setting>
            <setting name="LastLanguageUsed" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="radioButtoSingleDate" serializeAs="String">
                <value>True</value>
            </setting>
        </ManualPaperBoy.Properties.Settings>
    </userSettings>
</configuration>
